AddDefaultCharset UTF-8
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .+ - [L]
RewriteCond %{REQUEST_URI}	!^$

RewriteRule ^assets/([a-zA-Z0-9\/_\-\.]*)$  app/assets/$1  [L]
RewriteRule ^ index.php [QSA,L]
